<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj kategorię</title>
</head>
<body>
<form th:action="@{/admin/quiz/category/create}" method="post" th:object="${category}">
    <label>Nazwa</label></br>
    <input type="text" th:field="*{name}" /> <br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Errors</span></br>
    <label>Rating</label></br>
    <input type="number" th:field="*{rating}" /> <br>
    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Errors</span></br>
    <button type="submit">Zapisz</button>
</form>
</body>
</html>