<!DOCTYPE html>
<html lang="en">
<head th:insert="/index::head('Dodaj quiz')"></head>
<body>
<nav th:insert="/index.html::nav"></nav>
    <H1 th:text="${quiz.title}">Tytuł</H1>
    <h3 th:text="${quiz.question}">Pytanie</h3>
    <form action="/quiz/fill" method="post">
        <input name="id" type="hidden" th:value="${quiz.id}"/>
        <fieldset>
            <div th:each="option:${quiz.options}">
                <label th:for="${option}" th:text="${option}"></label>
                <input th:id="${option}" name="answer" th:value="${option}" type="radio"/>
            </div>
        </fieldset>
        <button type="submit">Zapisz</button>
    </form>
<div th:replace="/index.html::scripts">

</div>
<div th:replace="/index.html::scripts">
</body>
</html>