<!DOCTYPE html>
<html lang="en">
<head th:insert="/index.html::head('Lista quizów')">
</head>
<body>
<nav th:insert="/index.html::nav"></nav>
    <div class="container-sm">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Kategoria
                </th>
            </tr>
            </thead>
<!--        Wyświetl listę tytułów quizów-->
        <tr th:each="quiz:${quizzes}">
            <td>
                <a th:href="@{/quiz/fill(id=${quiz.id})}" th:text="${quiz.title}"></a>
            </td>
            <td>
                <span th:text="${quiz.categoryId}"></span>
            </td>
        </tr>
        </table>
    </div>
</body>
</html>