<!DOCTYPE html>
<html lang="en">
<head th:insert="/index::head('Dodaj quiz')"></head>
<body>
<nav th:insert="/index.html::nav"></nav>
<form th:action="@{/admin/quiz/update}" method="post" th:object="${quiz}">
    <input type="hidden" th:field="*{id}"/>
    <label>Tytuł</label>
    <input type="text" th:field="*{title}" /> <br>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Errors</span>
    <label>Treść pytania</label>
    <input type="text" th:field="*{question}" /> <br>
    <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}">Errors</span>
    <button type="submit">Aktualizuj</button>
</form>
<div th:replace="/index.html::scripts">

</div>
</body>
</html>