<!DOCTYPE html>
<html lang="en">
<head th:insert="index.html::head('kalkulator')">
</head>
<body>
<div class="container-sm">
    <form action="/calc" method="get">
        <div class="mb-3">
            <label class="form-label" for="a">Argument 1</label>
            <input id ="a" class="form-control"type="number" name="a" /> <br>
        </div>
        <div class="mb-3">

        <select class="form-control" name="op"> <br>
            <option value="add">+</option>
            <option value="sub">-</option>
            <option value="mul">*</option>
            <option value="div">/</option>
        </select>
        </div>
        <input type="number" name="b" /> <br>
        <button class = "btn btn-primary"type="submit">Oblicz</button>
    </form>
</div>
</body>
</html>