<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello user!</h1>
    <ul>
        <li><a href="/welcome?name=Karol&age=34">Welcome</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/calculator-form">Kalkulator</a></li>
        <li><a href="/power-form">Podnoszenie do kwadratu</a></li>
        <li><a href="/quiz/fill?id=2">Quiz nr 2</a></li>
        <li><a href="/quiz/index">Lista quiz'ów</a></li>
        <li><a href="/admin/quiz/create">Dodaj nowy quiz</a></li>
    </ul>
</body>
</html>